.booking-page {
  background-image: url('/Register1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid black;
  backdrop-filter: blur(6px);

}

.container:hover {
  /* transform: translateY(-5px); */
  box-shadow:
    -5px -5px 15px #9b023f,
    5px 5px 15px #022176;
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}


label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #000000;
}


input,
select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 2px solid black;
  font-size: 14px;
  transition: all 0.3s ease;
  background-color: transparent;
}


input:focus,
select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 0 2px rgba(11, 26, 51, 0.2);
}


.text-danger {
  font-size: 13px;
  margin-top: 4px;
  color: #dc3545;
}


select {
  cursor: pointer;
  background-color: #fff;
}


button {
  background-color: rgb(212, 205, 191);
  color: #0a0a0a;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}


button:hover {
  background-color: #dfd7cd;
}

@media (max-width: 400px) {

  .container {
    width: 95%;
    padding: 12px;
    margin: 10px auto;
  }

  h2 {
    font-size: 18px;
  }

  input,
  select {
    font-size: 12px;
    padding: 7px;
  }

  button {
    font-size: 12px;
    padding: 8px;
  }
}

/* Mobile Devices (400px - 600px) */
@media (min-width: 401px) and (max-width: 600px) {

  .container {
    width: 92%;
    padding: 18px;
    margin: 20px auto;
  }

  h2 {
    font-size: 20px;
  }

  input,
  select {
    font-size: 13px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Tablets (600px - 992px) */
@media (min-width: 601px) and (max-width: 992px) {

  .container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
  }

  h2 {
    font-size: 26px;
  }

  input,
  select {
    font-size: 14px;
    padding: 10px;
  }

  button {
    font-size: 15px;
    padding: 12px;
  }
}

/* Laptops & Small Desktops (992px - 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {

  .container {
    width: 60%;
    max-width: 650px;
  }
}

/* Large Screens (1200px +) */
@media (min-width: 1201px) {

  .container {
    width: 40%;
    max-width: 450px;
  }
}
